/* rem and em do not depend on htmml font-size in media queries
1 rem = 1em = 16px 
Convert to em: (px /16px) */

@media (max-width: 86em) {
	.container {
		max-width: 130rem;
	}

	.weather-forecast-container {
		/* display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(7, 1fr); */
	}

	.week-title {
		font-size: 2rem;
	}

	.day--container {
		width: 90%;
	}
}
