/* rem and em do not depend on htmml font-size in media queries
1 rem = 1em = 16px 
Convert to em: (px /16px) */

@media (max-width: 86em) {
	.container {
		max-width: 130rem;
	}

	.week-title {
		font-size: 2rem;
	}

	.day--container {
		width: 90%;
	}

	.error {
		top: 14.5%;
		left: 40.2%;
	}
}

@media (max-width: 75em) {
	html {
		/* 9px / 16px */
		font-size: 56.25%;
	}

	.weather-content {
		grid-template-columns: 0.6fr 1fr;
	}

	.weather-forecast-container {
		gap: 3.2rem;
	}

	.day--container {
		width: 85%;
	}

	.week-temp-high {
		font-size: 2.4rem;
	}
	.week-temp-low {
		font-size: 1.6rem;
	}

	.error {
		top: 13%;
		left: 39%;
	}
}

/* 976 */
@media (max-width: 61em) {
	html {
		/* 8px / 16px */
		font-size: 50%;
	}

	.weather-forecast-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		/* width: max-content; */
	}

	.day--container {
		width: 70%;
	}

	.weather-forecast-container {
		/* padding: 2.4rem; */
		gap: 4.8rem;
	}

	.week-title {
		font-size: 2.4rem;
	}

	.week-temp-high {
		font-size: 3.2rem;
	}
	.week-temp-low {
		font-size: 2.4rem;
	}

	.info-details {
		font-size: 2rem;
		gap: 2.4rem;
	}

	.weather-icon-forecast {
		font-size: 4rem;
	}

	.error {
		top: 12%;
		left: 37.4%;
	}
}

/* 800 */

@media (max-width: 50em) {
	.header-name {
		display: none;
	}
	.weather-search-container {
		justify-content: center;
	}

	.weather-info-container {
		padding: 3.6rem;
	}
	.weather-info--details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1.2rem;
	}

	.info-details {
		grid-column: 2/ 3;
		display: flex;
		flex-direction: column;
	}

	.info-title {
		text-align: center;
	}

	.header-primary {
		font-size: 3.2rem;
		text-align: center;
	}

	.city-date {
		text-align: center;
	}

	.error {
		top: 4%;
		left: 37.4%;
	}
}

/* 650 */
@media (max-width: 41em) {
	.weather-content {
		grid-template-columns: 1fr;
	}

	.error {
		top: 12%;
		left: 6%;
	}
}

/* 544 */
@media (max-width: 34em) {
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 12.4rem;
		padding: 1.2rem 4.8rem;
		gap: 1.2rem;
		margin-bottom: 3.2rem;
	}

	.info-header {
		font-size: 2.8rem;
	}

	.info-temp {
		font-size: 4.4rem;
	}

	.error {
		top: 2%;
		left: 73%;
	}
}
