@media (max-width: 86em) {
	.container {
		max-width: 130rem;
	}

	.week-title {
		font-size: 2rem;
	}

	.error {
		top: 14.5%;
		left: 40.2%;
	}
}

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}

	.weather-forecast-container {
		gap: 2.8rem;
	}

	.week-temp-high {
		font-size: 3rem;
	}
	.week-temp-low {
		font-size: 2rem;
	}

	.error {
		top: 13%;
		left: 39%;
	}
}

/* 976 */
@media (max-width: 61em) {
	html {
		/* 8px / 16px */
		font-size: 50%;
	}

	.weather-forecast-container {
		gap: 3rem;
	}

	.weather-forecast-container {
		gap: 2.8rem;
	}

	.week-title {
		font-size: 2.4rem;
	}

	.week-temp-high {
		font-size: 3rem;
	}
	.week-temp-low {
		font-size: 2.8rem;
	}

	.info-details {
		font-size: 2rem;
		gap: 2.4rem;
	}

	.weather-icon-forecast {
		font-size: 3.6rem;
	}

	.error {
		top: 12%;
		left: 37.4%;
	}
}

/* 800 */

@media (max-width: 50em) {
	.weather-content {
		grid-template-columns: 1fr;
	}

	.error {
		top: 12%;
		left: 6%;
	}
	.header-name {
		display: none;
	}
	.weather-search-container {
		justify-content: center;
	}

	.weather-info-container {
		padding: 3.6rem;
	}
	.weather-info--details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1.2rem;
	}
	.day--container {
		justify-content: space-between;
		/* width: max-content; */
		margin: 0;
	}

	.week-title {
		/* width: 50%; */
		font-size: 1.6rem;
	}

	.info-details {
		grid-column: 2/ 3;
		display: flex;
		flex-direction: column;
	}

	.info-title {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 4.8rem;
		margin-bottom: 0;
	}

	.header-primary {
		font-size: 3.2rem;
		/* text-align: center; */
	}

	.city-date {
		text-align: center;
	}

	.error {
		top: 4%;
		left: 37.4%;
	}
}

/* 544 */
@media (max-width: 34em) {
	.container {
		padding: 0 1.6rem;
	}
	.header {
		justify-content: space-evenly;
		height: 12.4rem;
		padding: 0 0.8rem;
		gap: 0.4rem;
		margin-bottom: 3.2rem;
	}

	.weather-content {
		gap: 2rem;
	}

	.weather-forecast-container {
		padding: 2rem 0.2rem;
	}

	.city-date,
	.city-time {
		font-size: 1.8rem;
	}

	.info-header {
		font-size: 2.6rem;
	}

	.temp {
		font-size: 4.8rem;
	}

	.error {
		top: 2%;
		left: 73%;
	}

	.day--title {
		width: 5rem;
	}

	.day--container {
		justify-content: space-between;
		width: fit-content;
	}

	.week-temp-high {
		font-size: 2.4rem;
	}

	.week-temp-low {
		font-size: 1.8rem;
	}

	.weather-icon-forecast {
		font-size: 2.4rem;
	}
}

@media (max-width: 24em) {
	.city-date,
	.city-time {
		font-size: 1.6rem;
	}

	.day--container {
		width: 100%;
	}
}
