* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	background-color: #fff;

	/* color: #1864ab; */
}

.current-weather {
	margin-bottom: 6.4rem;
}
/* Header--------------------------- */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #d0ebff;

	height: 9.6rem;
	padding: 0 4.8rem;
}

.header-name {
	font-size: 2.4rem;
	font-weight: 700;
	color: #212529;
}

.btn {
	font-family: inherit;
	font-weight: 500;
	padding: 0.8rem 1.6rem;
	border: 2px solid #212529;
	border-radius: 9px;
	background-color: #fff;
	transition: all 0.5s;
}

.btn--active {
	background-color: #212529;
	color: #fff;
}

.btn:hover {
	background-color: #212529;
	color: #fff;
	cursor: pointer;
}

.info-input {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	gap: 1.2rem;
	position: relative;
}

.info-input input,
.info-input select {
	padding: 1.2rem;
	font-size: 1.8rem;
	font-family: inherit;
	color: #212529;
	border: none;
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.info-input input::placeholder {
	color: #868e96;
}

.input-btn {
	border: none;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
	padding: 0.4rem;
	transition: all 0.1s;
}

.input-btn:hover {
	background-color: #f1f3f5;
	cursor: pointer;
}

.input-btn:active {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* Main */
.app {
	/* max-width: 120rem; */
	height: 100vh;

	align-items: center;

	gap: 2.4rem;
}

.container {
	max-width: 150rem;
	padding: 0 6.4rem;
	margin: 3.6rem auto;
}

.weather-content {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 4.8rem;
	height: 50%;
	align-items: center;
	justify-content: center;
}

.weather-search-container {
	display: flex;
	justify-content: center;
	gap: 3.6rem;
	height: 100%;
	/* margin: 0 auto; */

	align-items: center;

	padding: 2.4rem 1.2rem;
	border-right: 3px solid #dee2e6;
	border-left: 3px solid #dee2e6;

	border-radius: 9px;
}

.header-primary {
	font-size: 4rem;
	font-weight: 700;
}

.header-primary {
	color: #212529;
	font-weight: 600;
}

.info-temp {
	color: #1971c2;
}

/* Input ------------------------------------------ */
.info-city {
	display: flex;
	flex-direction: column;
	padding: 2.4rem;
	gap: 2.4rem;
	font-size: 2rem;
}

.city-date,
.city-time {
	font-weight: 600;
	color: #495057;
}

.info-unit {
	display: flex;
	gap: 1.2rem;
}

/* Current Day info ------------------------------------ */
.weather-info-container {
	padding: 2.4rem 1.2rem;

	/* border: 5px solid #212529; */
	border-radius: 9px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.info--weather {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-title {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.2rem;
	margin-bottom: 3.6rem;
}

.info-temp {
	font-size: 6.2rem;
	font-weight: 700;
}

.info-header {
	margin-bottom: 2.4rem;
}

.info-details {
	color: #343a40;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 3.2rem;
	font-size: 2rem;
}

.info--title {
	font-weight: 500;
}

.info-current {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.4rem;
	gap: 1.4rem;
}

.weather-icon-current {
	font-size: 7.2rem;
	color: #212529;
	transition: all 0.5s;
}

.weather-icon-current:hover {
	color: #339af0;
}

.attribute {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.info-icon {
	font-size: 2.4rem;
	color: #1c7ed6;
}

/* 7 day forecast ------------------------------------- */

.weather-forecast-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 3.6rem;

	font-size: 2.4rem;
	padding: 3.2rem;
	background-color: #d0ebff;

	border-radius: 9px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.weather-info--current {
	align-items: center;
}

.day--container {
	width: 80%;
	height: auto;

	display: flex;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: space-around;

	margin: 0 auto;
	padding: 2.4rem 1.2rem;

	/* border: 2px solid #212529; */
	border-radius: 9px;
	box-shadow: 1.2px 1.2px 4.8px rgba(0, 0, 0, 0.4);
	transition: all 0.3s;
}

.day--container:hover {
	transform: translateY(-1.2rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.weather-icon-forecast {
	font-size: 4.8rem;
	color: #212529;
	transition: all 0.3s;
}

.weather-icon-forecast:hover {
	color: #339af0;
}

#color {
	background-color: #f8f9fa;
}
.day--title {
	width: 15%;
}
.week-title {
	color: #212529;
	font-weight: 700;
}

.day--temp {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	gap: 0.8rem;
}

.week-temp-high {
	color: #1864ab;
	font-size: 3rem;
}
.week-temp-low {
	color: #339af0;
	font-size: 2rem;
}

/* Error ------------ */
.error {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	background-color: #fff;
	/* border: 2px solid #212529; */
	box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
	z-index: 99999;
	border-radius: 9px;
	padding: 0.8rem 1rem;
	font-weight: 600;
	width: auto;

	position: absolute;
	top: 11%;
	left: 41.2%;
}

.error-icon {
	color: #1864ab;
	font-size: 3rem;
}
.error-text {
	font-size: 1.6rem;
}

.exit-btn {
	border: none;

	background-color: #fff;
}
.exit-btn:hover {
	color: #1864ab;
}
.error-exit {
	font-size: 3rem;
	font-weight: 600;
}

.hidden {
	visibility: hidden;
}
