* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	background-color: #fff;

	/* color: #1864ab; */
}

.current-weather {
	margin-bottom: 6.4rem;
}

/* Preloader */
.preload {
	background: #33495f url(../img/weather.gif) no-repeat center center;
	background-size: 40%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 999;
}

.preload-off {
	display: none;
}

/* Header--------------------------- */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #d0ebff;

	height: 9.6rem;
	padding: 0 4.8rem;
}

.header-name {
	font-size: 2.4rem;
	font-weight: 700;
	color: #212529;
}

.btn {
	font-family: inherit;
	font-weight: 500;
	padding: 0.8rem 1.6rem;
	border: 2px solid #212529;
	border-radius: 9px;
	background-color: #fff;
	transition: all 0.5s;
}

.btn--active {
	background-color: #212529;
	color: #fff;
}

.btn:hover {
	background-color: #212529;
	color: #fff;
	cursor: pointer;
}

.info-input {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.info-input input,
.info-input select {
	padding: 1.2rem;
	font-size: 1.8rem;
	font-family: inherit;
	color: #212529;
	border: none;
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.info-input input::placeholder {
	color: #868e96;
}

.input-text-search {
	position: relative;
}

.input-btn {
	border: none;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
	padding: 0.4rem;
	transition: all 0.1s;
}

.input-btn:hover {
	background-color: #f1f3f5;
	cursor: pointer;
}

.input-btn:active {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* Main */
.app {
	height: 100vh;

	align-items: center;

	gap: 2.4rem;
}

.container {
	max-width: 150rem;
	padding: 0 6.4rem;
	margin: 3.6rem auto;
}

.weather-content {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 4.8rem;
	height: 50%;
	align-items: center;
	justify-content: center;
}

.weather-search-container {
	display: flex;
	justify-content: center;
	gap: 3.6rem;
	height: 100%;

	align-items: center;

	padding: 2.4rem 1.2rem;
	border-right: 3px solid #dee2e6;
	border-left: 3px solid #dee2e6;

	border-radius: 9px;
}

.header-primary {
	font-size: 4rem;
	font-weight: 700;
}

.header-primary {
	color: #212529;
	font-weight: 600;
}

.info-temp {
	color: #1971c2;
}

/* Input ------------------------------------------ */
.info-city {
	display: flex;
	flex-direction: column;
	padding: 2.4rem;
	gap: 2.4rem;
	font-size: 2rem;
}

.city-date,
.city-time {
	font-weight: 600;
	color: #495057;
}

.info-unit {
	display: flex;
	gap: 1.2rem;
}

/* Error ------------ */
.error {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 1);
	z-index: 99999;
	border-radius: 9px;
	padding: 0.8rem 1rem;
	font-weight: 600;
	width: auto;

	position: absolute;

	top: 5%;
	left: 0%;
}

.error-icon {
	color: #1864ab;
	font-size: 3rem;
}
.error-text {
	font-size: 1.6rem;
}

.exit-btn {
	border: none;

	background-color: #fff;
}
.exit-btn:hover {
	color: #1864ab;
}
.error-exit {
	font-size: 3rem;
	font-weight: 600;
}

.hidden {
	visibility: hidden;
}
